In [2]:
import pandas as pd

In [8]:
#Import data into dataframe
pred_data = pd.read_csv('/Users/jenny.wade@schibsted.com/Documents/GitHub/prediktiv_analys/Assignment/prediktiv_data.csv')

In [9]:
#Initial exploration of data
pred_data.head()
pred_data.info()
pred_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2930 non-null   int64
 1   target       2930 non-null   int64
 2   feature01    2929 non-null   float64
 3   feature02    2929 non-null   float64
 4   feature03    2930 non-null   int64
 5   feature04    2929 non-null   float64
 6   feature05    2930 non-null   int64
 7   feature06    2930 non-null   int64
 8   feature07    2930 non-null   int64
 9   feature08    2930 non-null   int64
 10  feature09    2930 non-null   int64
 11  feature10    2930 non-null   int64
 12  feature10.1  2930 non-null   int64
 13  feature11    198 non-null    object
 14  feature12    572 non-null    object
 15  feature13    2929 non-null   object
 16  feature14    2930 non-null   int64
 17  feature15    1508 non-null   object
 18  feature16    2930 non-null   object
 19  feature17    2930 non-null   int64
 20  feature18    2930 non-null   int64
 21  feature19    2930 non-null   int64
 22  feature20    2930 non-null   int64
 23  feature21    2930 non-null   int64
 24  feature22    2930 non-null   int64
 25  feature23    2930 non-null   int64
dtypes: float64(3), int64(18), object(5)
memory usage: 595.3+ KB

,id,target,feature01,feature02,feature03,feature04,feature05,feature06,feature07,feature08,...,feature10,feature10.1,feature14,feature17,feature18,feature19,feature20,feature21,feature22,feature23
count,2930.00000,2930.000000,2929.000000,2929.000000,2930.000000,2929.000000,2930.000000,2930.000000,2930.000000,2930.000000,...,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000,2930.000000
mean,1465.50000,180796.060068,1.766815,472.819734,2.243345,1051.614544,1159.557679,6.443003,1499.690444,6.094881,...,1971.356314,1.566553,0.599317,2.854266,1.044369,6.216041,2007.790444,0.379522,335.455973,1984.266553
std,845.96247,79886.692357,0.760566,215.046549,35.597181,440.615067,391.890885,1.572964,505.508887,1.411026,...,30.245361,0.552941,0.647921,0.827731,0.214076,2.714492,1.316613,0.502629,428.395715,20.860286
min,1.00000,12789.000000,0.000000,0.000000,0.000000,0.000000,334.000000,2.000000,334.000000,1.000000,...,1872.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,0.000000,0.000000,1950.000000
25%,733.25000,129500.000000,1.000000,320.000000,0.000000,793.000000,876.250000,5.000000,1126.000000,5.000000,...,1954.000000,1.000000,0.000000,2.000000,1.000000,4.000000,2007.000000,0.000000,0.000000,1965.000000
50%,1465.50000,160000.000000,2.000000,480.000000,0.000000,990.000000,1084.000000,6.000000,1442.000000,6.000000,...,1973.000000,2.000000,1.000000,3.000000,1.000000,6.000000,2008.000000,0.000000,0.000000,1993.000000
75%,2197.75000,213500.000000,2.000000,576.000000,0.000000,1302.000000,1384.000000,7.000000,1742.750000,7.000000,...,2001.000000,2.000000,1.000000,3.000000,1.000000,8.000000,2009.000000,1.000000,703.750000,2004.000000
max,2930.00000,755000.000000,5.000000,1488.000000,800.000000,6110.000000,5095.000000,15.000000,5642.000000,10.000000,...,2010.000000,4.000000,4.000000,8.000000,3.000000,12.000000,2010.000000,2.000000,2065.000000,2010.000000